{% extends "base.html" %}
{% block title %} Contact Us {% endblock %}

{% block content %}
{% load bootstrap_toolkit %}
<div class="well">
	<div class="container-fluid" style="text-align: center;">
	<h1>Contact Us</h1>
	<form action="" method="post">
		{% csrf_token %}
		{{ form|as_bootstrap }}
		
		<div class="submit">
			<p>
				<button type="submit" class="btn btn-primary">Contact Us</button>
			</p>
		</div>
		<!--<input class="hidden" type="hidden" name="topic" value="Contact Submission from {{ site.domain }}" id="subject" />-->
	</form>
	</div>
</div><!-- end contact -->

{% endblock %}