{% extends "base_login.html" %}
{% block title %} Contact Us {% endblock %}

{% block content %}
<div id="contact_form">
	<form name="theform" action="." method="post" id="theform">
		{% csrf_token %}

		<div id="name_email">
			<div class="field">
				<label id="id_name">Name:</label>
				{{ form.name }}
			</div>
			<div class="field">
				<label id="id_email">Email:</label>
				{{ form.email }}
			</div>
		</div><!-- end name_email -->
		<div id="message">
			<div class="field">
				<label id="id_message">Message:</label>
				{{ form.message }}
			</div>
		</div><!-- end message -->
		<div class="submit">
			<p>
				<input type="submit" value="Submit">
			</p>
		</div>
		<input class="hidden" type="hidden" name="topic" value="Home : Contact Form Submission" id="subject" />
	</form>
</div><!-- end contact -->

{% endblock %}