{% extends "base_login.html" %}
{% block title %}Login{% endblock %}
{% block content %}

{% load bootstrap_toolkit %}

<div class="well">
{% if user.is_authenticated %}
	You are already logged in! <a href="/"> Return Home</a>
{% else %}
<div class="container-fluid" style="text-align: center;">
<h1>Sign In</h1>
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}
<form method="post" action="{% url django.contrib.auth.views.login %}">{% csrf_token %}
	{{ form|as_bootstrap }}

<p><a href="{% url auth_password_reset %}">Forgot</a> your password?  <a href="{% url registration_register %}">Need an account</a>?</p>

<button type="submit" class="btn btn-primary">Sign In</button>
<input type="hidden" name="next" value="{{ next }}" />
</form>

</div>
{% endif %}

</div>
{% endblock %}


