{% extends "base_login.html" %}
{% block title %}Register for an account{% endblock %}

{% block content %}
<div class="well">

	{% if user.is_authenticated %}
	<p>
		You are already logged in! <a href="/"> Return Home</a>
	</p>
	{% else %}
	{% load bootstrap_toolkit %}
	<div class="container-fluid" style="text-align: center;">
		<h1>Sign Up</h1>
		<form action='' method="post">
			{% csrf_token %}
			{{ form|as_bootstrap }}

			<button type="submit" class="btn btn-primary">
				Sign Up
			</button>

		</form>
	</div>
	{% endif %}

</div>
{% endblock %}
