{% load pagination %}
<div class="row">
	<div class="span8">
		<h3><a href="{{ idea.get_absolute_url }}">{{ idea.title|softwraphtml }}</a> {% if show_owner %} <small>by {{ idea.owner }}</small> {% else %}
		{% if idea.public %}<span class="label label-info">Public</span> {% endif %}
		{% if idea.contributors %}<span class="label label-success">Shared</span> {% endif %} {% endif %}</h3>
		<p>
			{{ idea.text|softwraphtml }}
		</p>
		{% if show_contributors %}
		{% if idea.get_contributors %}
		<p>
			<h4>Contributors: <small> {% for contrib in idea.get_contributors %} {{ contrib.username }} {% endfor %}</small></h4>
		</p>
		{% endif %}
		{% endif %}

		<p>
			{% if idea.owner == request.user %}
			<!-- Owner buttons -->
			{% include "includes/idea_owner_links.html" with idea=idea %}
			{% else %}
			<!-- Buttons for contributor -->
			{% include "includes/idea_contributors_links.html" with idea=idea %}
			{% endif %}
		</p>
	</div>
	<div class="span1 offset2">
		<p style='text-align: right; size: 20em'>
			<span class="badge badge-info">{{ idea.get_children_count }}</span>
		</p>
	</div>
</div>

