{% if idea_list %}
<div id="idea_list">
	<table class="table table-striped">
		<tr>
			<th>Title</th>
			<th>Description</th>
			<th>Category </th>
			<th>Options</th>
		</tr>

		{% for idea in idea_list %}
		<tr>
			<td><a href="{{ idea.get_absolute_url }}">{{ idea.title }} </a></td>
			<td> {{idea.text}} </td>
			<td>{% if idea.category %} {{ idea.category }} {% else %} None {% endif %}</td>

			<td>
			<button class="btn btn-primary" onclick="location.href='{{ idea.get_add_url }}';">
				New
			</button>
			<button class="btn btn-danger" onclick="location.href='{{ idea.get_del_url }}';">
				Delete
			</button>
			<button class="btn btn-success" onclick="location.href='{{ idea.get_edit_url }}';">
				Edit
			</button></td>
		</tr>

		{% endfor %}

	</table>
</div>
{% else %}
Currently you have not added any ideas.

{% endif %}

