{% if categories %}
<div id="categories_list">
	<table class="table table-striped">
		<tr>
			<th>Name</th>
			<th>Options</th>
		</tr>

		{% for category in categories %}
		<tr>
			<td>{{ category.name }}</td>

			<td>
			<div class="btn-group">
				<button class="btn btn-info" onclick="location.href='#';">
					Ideas
				</button>
				<button class="btn btn-danger" onclick="location.href='{{ category.get_del_url }}';">
					Delete
				</button>
			</div></td>
		</tr>
		{% endfor %}

	</table>
</div>
{% else %}
Currently you haven't created any categories.
{% endif %}
