{% load bootstrap_toolkit %}
<script>
	function loadForm(result) {
		alert(result)
	}
	window.onload = function(){
		//alert("Page loaded")
		/*
		$.ajax({
			url : "{{ link }}",
			success:loadForm,
		})
		*/
	}
	function newIdea() {
		var url = "{% url api_dispatch_list resource_name='idea' api_name='v1' %}"
		// Add form validation
		var form = document.forms[0];
		var title = form.elements["id_title"];
		var text = form.elements['id_text'];
		
		$.ajax({
			type : "POST",
			url : url,
			accepts: 'application/json',
			contentType : "application/json",
			data : JSON.stringify({ "title" : title.value, "text" : text.value }),
			//dataType : "application/json",
			//processData : false,
			contentType : "application/json",
			success:function(result){
				alert("Idea created")
			}
		});
	}
</script>
<!-- Button to trigger modal -->
<a href="#newIdeaModal" role="button" class="btn btn-primary" data-toggle="modal">New Idea</a>


<!-- Modal -->
<div id="newIdeaModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
			×
		</button>
		<h3 id="myModalLabel">New Idea</h3>
	</div>
	<div class="modal-body">
		<form class="modal-form">
			{% csrf_token %}
			{{ form|as_bootstrap }}
		</form>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">
			Close
		</button>
		<button class="btn btn-primary" onclick="newIdea()">
			Submit
		</button>
	</div>
</div>