<div class="container container-fluid">
	<div class="well">
		<h1>Ideas</h1>
		<p>
			These are your ideas. You can branch out and have more ideas.
		</p>
		<p>
			{% include "includes/new_idea_modal.html" with form=idea_form %}
			<a href="{% url new-top-idea %}" role="button" class="btn btn-primary">New Idea</a>
		</p>
	</div>

	<!-- Tabs -->

	{% include "includes/idea_nav.html" with active=1 %}

	{% if idea_list %}
	{% include "includes/list_ideas.html" %}
	{% else %}
	<p style='text-align: center;'>
		Currently no ideas.
	</p>
	{% endif %}

</div>