<!DOCTYPE html>
{% load bootstrap_toolkit %}
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="description" content="">
		<meta name="author" content="Laimonas Turauskas">

		<title>{% block title %}{% endblock %} - MydeaTree</title>

		<style type="text/css">
			body {
				padding-top: 60px;
			}
		</style>
		{% bootstrap_stylesheet_tag %}

		{% block css %}
		{% endblock %}

		{% block preload_js %}
		{% endblock %}

		{% block extra-head %}
		{% endblock %}
	</head>

	<body>

		{% if user.is_authenticated %}
		{% include "includes/nav_in.html" %}
		<p style="text-align: center;">
			You are logged in, {{ user }}.
		</p>

		{% else %}
		{% include "includes/nav_out.html" %}
		{% endif %}
		{% block extra-header %}

		{% endblock %}

		<div class="container">

			<div class="containter">
				{% block content %}Empty page{% endblock %}
			</div>
			<p>
				<hr>
			</p>
			<div class="container-fluid">
				<footer class="row">
					<div style="text-align:center">
						<p>
							&copy; <a href="http://www.zygura.com">Zygura</a> 2012
						</p>
					</div>
				</footer>
			</div>
			{% block js %}
			{% endblock %}

		</div>
		<!-- THE javascript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script type="text/javascript" src="/media/jquery-1.8.3.min.js"></script>
		{% bootstrap_javascript_tag "dropdown" %}
	</body>
</html>
