<!DOCTYPE html>
{% load bootstrap_toolkit %}
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="description" content="">
		<meta name="author" content="Laimonas Turauskas">

		<title>{% block title %}{% endblock %} - MydeaTree</title>

		<style type="text/css">
			body {
				padding-top: 60px;
			}
		</style>

		<script>
			IDEA_API = "{% url api_dispatch_list api_name="v1" resource_name="idea" %}";
		</script>
		{% bootstrap_stylesheet_tag %}

		{% block css %}
		{% endblock %}

		{% block preload_js %}
		{% endblock %}

		{% block extra-head %}
		{% endblock %}
	</head>

	<body>

		{% if user.is_authenticated %}
		{% include "includes/nav_in.html" %}
		<p style="text-align: center;">
			You are logged in, {{ user }}.
		</p>

		{% else %}
		{% include "includes/nav_out.html" %}
		{% endif %}
		{% block extra-header %}

		{% endblock %}

		<div class="container">

			<div class="containter">
				{% block content %}Empty page{% endblock %}
			</div>
			<p>
				<hr>
			</p>
			<div class="container-fluid">
				<footer class="row">
					<div style="text-align:center">
						<p>
							&copy; <a href="http://www.limeblaststudios.com">LimeBlast Studios</a> 2013
						</p>
					</div>
				</footer>
			</div>
			{% block js %}
			{% endblock %}

		</div>

		<!-- THE javascript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<!--<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.3/jquery.min.js"></script>-->
		<script type="text/javascript" src="{{ MEDIA_URL }}jquery-1.8.3.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/underscore.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/json2.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/backbone.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/backbone-tastypie.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/knockout.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/handlebars.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/models/idea.js"></script>	
		<script type="text/javascript" src="{{ STATIC_URL }}js/collections/ideas.js"></script>	
		<script type="text/javascript" src="{{ STATIC_URL }}js/views/ideas.js"></script>	
		<script type="text/javascript" src="{{ STATIC_URL }}js/views/app.js"></script>	
		<script type="text/javascript" src="{{ STATIC_URL }}js/app.js"></script>	
		<!--<script type="text/javascript" src="{{ STATIC_URL }}js/ideas.js"></script>-->
		<script type="text/javascript">
			$(document).ready(function() {
				
			});
		</script>
		{% load verbatim %}
		{% verbatim %}
		<!-- TEMPLATES -->
		<script id="private_idea_template" type="text/x-handlebars-template">

			<h1><a href="#" class="toggleToParent">{{title}}</a>  {{#if public}}<span class="label label-info">Public</span>{{/if}}</h1>
			<p>
			{{text}}
			</p>
			<p><a href="#" class="newChildrenIdea">New</a> | <a href="#" class="editIdea">Edit</a> | <a href="#" class="deleteIdea">Delete</a></p>

		</script>
		{% endverbatim %}

		{% bootstrap_javascript_tag "dropdown" %}
	</body>
</html>
