{% extends 'base.html' %}
{% block title %}Welcome{% endblock %}

{% block content %}

{% if user.is_authenticated %}
{% include "includes/show_top_ideas.html" %}
{% else %}

<div class="well">
	<h1>Welcome to MydeaTree!</h1>
	<p>
		You ever wanted to keep track of all your awesome ideas? Well
		look no more. Sign up and enjoy!
	</p>
</div>

<div class="row">
	<div class="span5">
		{% include "includes/body_sign_up.html" %}
	</div>

	<div class="span4">
		{% include "includes/header_login.html" %}
		<p><a href="{% url auth_password_reset %}">Forgot</a> your password?</p>
	</div>
</div>

{% endif %}

{% endblock %}
