{% extends 'base.html' %}
{% block title %}Welcome{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<div id="app" class="container">
	<div class="well" id="idea_header">

	</div>

	<div class="well">
		<h1>Ideas</h1>
		<p>
			These are your ideas. You can branch out and have more ideas.
		</p>
		<p>
			<div id="new_idea_modal">
				{% include "includes/new_idea_modal.html" with form=idea_form %}
			</div>

		</p>
	</div>

	<div id="information">

	</div>

	<div id="ideas">

	</div>
	<div id="end_of_ideas"></div>
</div>

{% else %}

<div class="well">
	<h1>Welcome to MydeaTree!</h1>
	<p>
		You ever wanted to keep track of all your awesome ideas? Well
		look no more. Sign up and enjoy!
	</p>
</div>

<div class="row">
	<div class="span5">
		{% include "includes/body_sign_up.html" %}
	</div>

	<div class="span4">
		{% include "includes/header_login.html" %}
	</div>
</div>

{% endif %}
{% load verbatim %}
{% verbatim %}
<script id="private_header_idea_template" type="text/x-handlebars-template">

	<h1>{{title}} {{#if public}}<span class="label label-info">Public</span>{{/if}}</h1>
	<p>
	{{text}}
	</p>
	<!--<p><a href="#" class="newChildrenIdea">New</a> | <a href="#" class="editIdea">Edit</a> | <a href="#" class="deleteIdea">Delete</a></p>
	-->

</script>
{% endverbatim %}

{% endblock %}

