{% extends 'base.html' %}
{% block title %}Welcome{% endblock %}

{% block content %}

{% if user.is_authenticated %}

<div class="well">
	<h1>Ideas</h1>
	These are your top ideas, from you can branch and have more ideas.
</div>


<!-- Tabs -->
<div class="container-fluid">
	{% include "includes/idea_nav.html" with active=1 %}
	{% include 'show_top_ideas.html' with idea_list=idea_list %}
</div>
{% else %}

<div class="well">
	<h1>Welcome to MydeaTree!</h1>
	<p>
		You ever wanted to keep track of all your awesome ideas? Well
		look no more. Sign up and enjoy!
	</p>
</div>

<div class="row">
	<div class="span5">
		{% include "includes/body_sign_up.html" %}
	</div>

	<div class="span4">
		{% include "includes/header_login.html" %}
	</div>
</div>

{% endif %}

{% endblock %}
