{% extends "base.html" %}
{% block title %}New Idea{% endblock %}
{% block content %}

{% load pagination %}
{% if parent_idea %}
<div class="well">
	<h4>{{ parent_idea.title|softwraphtml }}</h4>
	<p>{{ parent_idea.text|softwraphtml }}</p>
</div>

{% endif %}
<div class="well">
	{% if parent_idea %}
	<h3>Create children idea</h3>
	{% else %}
	<h3>Create parent idea</h3>
	<p>Express yourself in 140 characters or less.</p>
	{% endif %}
	{% load bootstrap_toolkit %}

	<form action="" method="post">
		{% csrf_token %}
		{{ form|as_bootstrap }}

		<div class="submit">
			<p>
				<button type="submit" class="btn btn-primary">
					New Idea
				</button>
			</p>
		</div>

	</form>
</div>
{% endblock %}
