{% extends 'base.html' %}
{% block title %}Ideas{% endblock %}

{% block content %}

{% load pagination %}
<div class="container container-fluid">
	{% include "includes/top_idea.html" with rights='owner' %}

	{% if user.is_authenticated %}
	{% include "includes/idea_nav.html" with active=1 %}
	{% endif %}

	{% if idea_list %}
	{% include "includes/list_ideas.html" %}
	{% else %}
	<p style='text-align: center;'>
		Currently no children ideas.
	</p>
	{% endif %}
</div>

{% load pagination %}
{% page_index ?page= %}

{% endblock %}
