{% extends 'base.html' %}
{% block title %}Public Ideas{% endblock %}

{% block content %}

<div class="container container-fluid">
	<div class="well">
		<h1>Public Ideas</h1>
		<p>
			Ideas posted by fellow members.
		</p>
		<p>
			<button class="btn btn-primary" onclick="location.href='/public/new/';">
				New Idea
			</button>
		</p>
	</div>

	{% if user.is_authenticated %}
	{% include "includes/idea_nav.html" with active=2 %}
	{% endif %}

	{% include "includes/list_public_ideas.html" %}
</div>

{% endblock %}
